body
{
    width:95%;
    height:95%;

    margin-left: 2.5%;
    margin-right: 2.5%;

    padding-top: 3%;

    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;    
}

.title
{
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.section 
{
    width: 100%;
    height: 300px;

    display: flex;
    justify-content:center;
    align-items: center;
}
            
.section div 
{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    
    min-width: 7.5%;
    max-width: 25%;
    
    width: 100%;
    height: 100%;
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: xx-large;
}

.section div:last-of-type
{
    border-right: 3px solid black;
}